@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600&display=swap');

:root {
    --heading-color: rgb(32, 3, 3);
    --cards-bg:rgb(252, 239, 124);
    --font-type: 'Edu NSW ACT Foundation', cursive;
    --btn:#c32522;
    --white-heading:#fff;
}

* {
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--heading-color);
    background-image: url("img/japananime.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1 {
    font-size: 26px;
    line-height: 35px;
    font-family: var(--font-type)
    
}
#dog-treats
{
    font-size:64px;
    color:#9491fc;
}

.container_wrapper {
    background:var(--cards-bg);
    position: relative;
    width: 400px;
    height: 300px;
    padding: 35px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-flow: column;
    text-align: center;
    gap: 40px;
    box-shadow: 0 20px 28px -10px #f34211ba;
    transition: 0.4s ease-in-out;
}

.shinchan {
    position: absolute;
    width: 150px;
    top: -80px;
    left: 420px;
}

.dog_shin {
    position: absolute;
    top:280;
    left:-250px;
    width:850px;
}

.btn_wrap {
    display:flex;
    flex-direction:row;
gap:20px;
}

#increment-btn
{
    background:var(--btn);
    background:rgb(146, 146, 252);
    color: var(--white-heading);
    border:0;
    padding: 1em 2em;
    border-radius:4px;
    font-family: var(--font-type);
    font-size:1.1em;
    cursor: pointer;
    transition:0.2s ease-in-out;
    
}

#save-btn
{
    background:var(--btn);
    color: var(--white-heading);
    border:0;
    padding: 1em 2em;
    border-radius:4px;
    font-family: var(--font-type);
    font-size:1.1em;
    cursor: pointer;
    transition:0.2s ease-in-out;
}

#save-btn:hover, #increment-btn:hover {

    transform: scale(1.1);
    box-shadow: 0 20px 28px -10px #481203ba;
}

